.header-main {
    color: rgb(255, 255, 255);
    display: flex;
    flex-flow: column;
    border-bottom: 1px solid grey;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 1rem;
    width: 100%;
    /*  */

    height: 3.5rem;
}

.first-component {
    display: flex;
    justify-content: space-between;
    /* gap: 200px; */
    align-items: center;
    /* margin-bottom: 0px; */
}

.second-component {
    margin-top: 0px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 10px; */
    /* gap: 30px; */
}

.stats {
    display: flex;
}

.stats p{
    max-width: 8.5rem;
}

.diff {
    display: flex;
    align-items: center;
}

p {
    margin: 10px;
}

.diff-button {
    border: 1px solid grey;
    padding: 5px;
    border-radius: 5px;
}

.diff-button:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.chosen-button {
    border: 1px solid rgb(76, 166, 255);
    color: rgb(76, 166, 255);
    padding: 5px;
    border-radius: 5px;
}

.chosen-button:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.diff-button-mode {
    border: 1px solid rgb(76, 166, 255);
    color: rgb(76, 166, 255);
    padding: 5px;
    border-radius: 5px;
}

.diff-button-mode {
    cursor: pointer;
    transform: scale(1.05);
}

.wpm-header{
    display: inline-block;
    width: 2.5rem;
    /* border: 2px solid red; */
    /* position: absolute; */
    /* left: 0; */
}

.acc-header{
    display: inline-block;
    color: rgb(148, 148, 151);
    width: 2.5rem;
}

.tim-header{
    display: inline-block;
    color: rgb(148, 148, 151);
    width: 2rem;
}