.parent {
    width: 1000px;
    height: 40rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    color: hsl(240, 1%, 59%);
}

.passage-component {
    width: 62.5rem;
    height: 40.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    color: hsl(240, 1%, 59%);
    font-size: 1.2rem;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.passage-text{
    width: 62.5rem;
    height: 25rem;
    position: relative;
    border-bottom: 1px solid grey;
}

.monkey-type {
    width: 62.5rem;
    position: absolute;
    top: 0;
    left: 0;
    color: hsl(140, 63%, 57%);
    pointer-events: none;
    display: flex;
    gap: 0px;
}

.monkey-type p{
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: normal;
}

.blur {
    position: absolute;
    top: 0;
    width: 62.5rem;
    height: 30.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(4px);
    cursor: pointer;
}

.blur-element {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}


.text-original {
    color: #bbb;
    /* filter: (blur(6px)); */
    /* opacity: 0.6px; */
}

.start-typing {
    cursor: pointer;
    color: white;
    background-color: rgb(23, 125, 255);
    border-radius: 10px;

    height: 2.5rem;
    text-align: center;
    width: 8rem;
}

.instruction{
    color: white;
}

.start-typing:hover{
    transform: scale(1.01);
}

.hidden-input {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.false-text {
    text-decoration: underline;
    color: hsl(354, 63%, 57%);
}

.correct-input {
    color: hsl(140, 63%, 57%);
}

.blinking-line{
    border-right: 1px solid grey;
    animation: blink 1s step-start infinite;
}

.wpm {
    text-align: center;
    width: 6rem;
    overflow-x: visible;
}

.restart-container{
    margin-top: 0.5rem;
}
.restart{
    font-size: 0.9rem;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-evenly;
    gap: 0.5rem;
    background-color: rgb(38,38,38);
    border-radius: 10px;
    padding: 0.5rem;
    align-self: center;
}

.restart img{
    width: 1rem;
}

@keyframes blink {
    50%{
        opacity: 0;
    }
}