.parent {
    width: 1000px;
    height: 1000px;
    /* border: 1px solid black; */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    color: hsl(240, 1%, 59%);
}

.passage-component {
    width: 62.5rem;
    height: 62.5rem;
    /* border: 1px solid black; */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    color: hsl(240, 1%, 59%);
    position: relative;
    font-size: 1.2rem;
}

.text-reference:focus {
    text-decoration: underline;
}


.monkey-type {
    width: 62.5rem;
    position: absolute;
    top: 0;
    left: 0;
    white-space: prewrap;
    color: hsl(140, 63%, 57%);
    pointer-events: none;
    display: flex;
    gap: 0px;
}

.blur {
    position: absolute;
    top: 0;
    width: 62.5rem;
    height: 30.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: rgba(0, 0, 0, 0.45); */
    backdrop-filter: blur(4px);
    cursor: pointer;
}

.blur-element {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.text-reference {
    width: 62.5rem;
    white-space: prewrap;
}

.text-original {
    color: #bbb;
    /* filter: (blur(6px)); */
    /* opacity: 0.6px; */
}

.start-typing {
    cursor: pointer;
    color: white;
    background-color: rgb(23, 125, 255);
    border-radius: 10px;

    height: 2.5rem;
    text-align: center;
    width: 8rem;
}

.instruction{
    color: white;
}

.start-typing:hover{
    transform: scale(1.01);
}

.hidden-input {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.false-text {
    text-decoration: underline;
    color: hsl(354, 63%, 57%);
    /* margin-right: 0px; */
    /* margin-left: 0px; */
}

.correct-input {
    /* margin-right: 0px; */
    /* margin-left: 0px; */
    color: hsl(140, 63%, 57%);
}

.wpm {
    text-align: center;
    width: 6rem;
    overflow-x: visible;
}