.parent {
    width: 1000px;
    height: 1000px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    color: hsl(240, 1%, 59%);
}

.passage-component {
    width: 62.5rem;
    height: 62.5rem;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    color: hsl(240, 1%, 59%);
    position: relative;
}

.text-reference:focus {
    text-decoration: underline;
}

.text-reference {
    width: 62.5rem;
    white-space: prewrap;
}

.monkey-type {
    width: 62.5rem;
    position: absolute;
    top: 0;
    left: 0;
    white-space: prewrap;
    color: hsl(140, 63%, 57%);
    pointer-events: none;
    display: flex;
    gap: 0px;
}

.hidden-input {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.false-text {
    text-decoration: underline;
    color: hsl(354, 63%, 57%);
    /* margin-right: 0px; */
    /* margin-left: 0px; */
}

.correct-input {
    /* margin-right: 0px; */
    /* margin-left: 0px; */
    color: hsl(140, 63%, 57%);
}

.wpm {
    text-align: center;
    width: 6rem;
    overflow-x: visible;
}