.header-type{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40rem;
    user-select: none;
}

.logo-container{
    align-self: center;
    height: 32px;
}

.logo-large{
    height: 2rem;
}

.personal-best{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.personal-best img{
    margin-right: 0.5rem;
}