:root {
    --margin-test-complete: 2rem;

    --padding-top-res-container: 1.5rem;
}

.resulsts-page-layout {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.test-complete-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    /* border: 2px solid white; */
    text-align: center;
    width: 60rem;
    user-select: none;
}

.images {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
}

.pattern-star {
    width: 1.3rem;
    justify-self: flex-start;
    margin-right: 25rem;
    margin-left: 1.5rem;
}

.image-icon {
    align-self: flex-end;
    margin-top: 1.5rem;
    width: 4rem;
    margin-bottom: var(--margin-test-complete);
    filter: drop-shadow(0 0px 1rem rgb(77, 214, 123));
}

.yellow-star {
    width: 3.5rem;
    margin-left: 61rem;
}

.test-complete-h2 {
    margin-bottom: 0px;
    margin-top: 0px;
}

.results {
    display: flex;
    justify-content: center;
    gap: 1.25rem;

    margin-bottom: var(--margin-test-complete);
}

.results div {
    width: 5rem;
    border: 1px solid grey;
    padding: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 5px;

    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    text-align: start;
}

.results p {
    margin: 0rem;
}

.go-again-container {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    background-color: rgb(18, 18, 18);
    width: 8rem;
    height: 3.5rem;
    cursor: pointer;
}

.beat-again-container {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    background-color: rgb(18, 18, 18);
    width: 9rem;
    height: 3.5rem;
    cursor: pointer;
}

.again-icon {
    color: black;
}

.test-complete-text {
    margin-bottom: var(--margin-test-complete);
}

.results-headers {
    color: rgb(148, 148, 151)
}

.confetti {
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: 9999;
}

.confetti-animation.play {
    position: absolute;
    bottom: 0;
    animation: confetti-popup 4s forwards;
    will-change: transform, opacity;
    animation-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
    max-width: 100%;
}

.confetti-animation{
    opacity: 0;
}

@keyframes confetti-popup {
    0% {
        transform: translateY(-20vh) scale(0.9);
        opacity: 1;
    }

    30% {
        transform: translateY(50vh) scale(1.1);
        opacity: 1;
    }

    100% {
        transform: translateY(150vh) scale(1.2);
        opacity: 0;
    }
}

/* @keyframes confetti-popup {
    0% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
    20% {
        transform: translateY(20%) scale(1);
        opacity: 1;
    }
    60% {
        transform: translateY(80%) scale(1.1);
        opacity: 1;
    }
    100% {
        transform: translateY(120%) scale(0.9);
        opacity: 0;
    }
} */