:root {
  font-family: 'Custom';
  src: url('../typing-speed-test-main/assets/fonts/Sora/Sora-VariableFont_wght.ttf');
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(18, 18, 18);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --margin-test-complete: 2rem;
  --padding-top-res-container: 1.5rem;
}

@font-face {
  font-family: 'Custom';
  src: url('../typing-speed-test-main/assets/fonts/Sora/Sora-VariableFont_wght.ttf')
       format('truetype');
  font-weight: 100 900; /* important for variable fonts */
  font-style: normal;
}